* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

body {
  background: url("../../assets/images/stardewbackground.png") no-repeat fixed
    center center / cover;
  image-rendering: pixelated;
}

main {
  background: var(--background);
  text-align: center;
  padding: 10px;
  line-height: 170%;
}

hr {
  height: 6px;
  background: url("../../assets/images/hrspike.png") repeat-x 0 0;
  border: 0;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  box-sizing: content-box;
}
