:root {
  --background: linear-gradient(-180deg, #fae791, #ffffcc);
  --heading: #0066cc;
  --highlight: #ff6633;
  --menuBackground: rgba(21, 71, 148, 0.8);
  --white: white;
  --yellow: #fae791;
  
}