.foot-icons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.foot-icons li {
  padding: 20px;
}

#rating li img {
  max-height: 4em;
}

#rating li {
  opacity: 0.5;
}

#rating li:hover {
  opacity: 1;
}

.esrb-rating {
  outline: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-offset: -20px;
}

.esrb-desc {
  font-size: 8.5px;
  font-weight: bold;
  line-height: 1.5em;
  text-align: left;
  padding: 0px 5px 0px 5px;
}

.footer-info p {
  font-weight: 400;
}
.footer-info a {
  text-decoration: none;
  color: var(--heading);
  padding: 0px 15px 0px 15px;
}

.footer-info a:hover {
  color: var(--menuBackground);
}
