.mainLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
}

#divider {
  background: url(/Assets/Images/divider.png) center;
  height: 541px;
  width: 100%;
  margin-top: 200px;
}