.menuItems {
  display: flex;
  background-color: var(--menuBackground);
  justify-content: center;
}

.menuItems ul{
 text-align: center;
  list-style-type: none;
}

.menuItems ul li {
  line-height: 55px;
  display: inline-block;
  margin: 0 20px;
}

.menuItems ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.menuItems ul li.socialIcons {
  padding-left: 80px;
}

.menuItems ul li.socialIcons a {
  margin: 0px 5px 0px 5px;
  font-size: 21px;
}

.menuItems ul li a:hover {
  color:var(--yellow);
}


